* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.sectionmain {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px;
    padding: 10px;
    
}

.leftnav {
    width: 20%;
    height: 20%;
    border-right: 2px solid black;
    font-size: 2vw;
    
}

.sectionabout{
    font-size: 1.25vw;
     line-height: 3px;
    
}

.sectionwork{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.worksections{
    border: 1px solid rgb(96, 63, 63);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    flex-basis: cal(50% - len);
    
}
.project1{
    background-image: url("../images/chip.jpeg");
    min-height: 400px;
    min-width: 1000px;
    flex-basis: 100%;
}

.worksections div{
    background-color: chartreuse;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.assignment1{
    background-image: url("../images/key.jpeg");
    min-height: 200px;
    flex-basis: 50%;

}

.task1{
    background-image: url("../images/key.jpeg");
    min-height: 200px;
    flex-basis: 50%;

}

.objective1{
    background-image: url("../images/key.jpeg");
    min-height: 200px;
    flex-basis: 50%;

}

.final1{
    background-image: url("../images/key.jpeg");
    min-height: 200px;
    flex-basis: 50%;

}
.contactsec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
}